
<h1>設定</h1>

<table>
  <tr>
      <td>Nバックカウント</td>
      <td>
        <mat-select [(value)]="this.nBackCount">
          <mat-option *ngFor="let num of this.nbackCountList" value="{{num}}">{{num}}</mat-option>
        </mat-select>
      </td>
  </tr>
  <tr>
    <td>問題数</td>
    <td>{{ this.questionCount }}</td>
  </tr>
  <tr>
    <td>文字</td>
    <td>{{ this.isLetter }}</td>
  </tr>
  <tr>
    <td>音声</td>
    <td>{{ this.isAudio }}</td>
  </tr>
  <tr>
    <td>場所</td>
    <td>{{ this.isPlace }}</td>
  </tr>
  <tr>
    <td>色</td>
    <td>{{ this.isColor }}</td>
  </tr>
  <tr>
    <td>形</td>
    <td>{{ this.isShape }}</td>
  </tr>
</table>
