.default-block {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.square {
  border: solid 1px;
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 500px;
  height: 500px;
}

.circle {
  border-radius: 50%;
}

.border-black {
  background-color: black;
}

.border-red {
  background-color: red;
}

.border-blue {
  background-color: blue;
}

.border-green {
  background-color: green;
}

.question {
  height: 10em;
  width: 10em;
  position: relative;
}

.question-area {
  margin-bottom: 40em;
  display: flex;
  justify-content: center;
}

.center {
  bottom: -20em;
}

.upper-left {
  bottom: 0em;
  right: 20em;
}

.top-center {
  bottom: 0em;
  right: 0em;
}

.upper-right {
  bottom: 0em;
  right: -20em;
}

.left {
  bottom: -20em;
  right: 20em;
}

.right {
  bottom: -20em;
  right: -20em;
}

.bottom-left {
  bottom: -40em;
  right: 20em;
}

.bottom-center {
  bottom: -40em;
  right: 0em;
}

.bottom-right {
  bottom: -40em;
  right: -20em;
}
