<div>
  {{this.answerList.length}}/{{this.questionCount}}
</div>
<div class="question-area">
  <div [ngClass]="{
    'question' : true,
    'default-block' : true,
    'black' : this.currentQuestion.color === 'black',
    'red' : this.currentQuestion.color === 'red',
    'blue' : this.currentQuestion.color === 'blue',
    'green' : this.currentQuestion.color === 'green',
    'triangle' : this.currentQuestion.shape === this.shape.Triangle,
    'circle' : this.currentQuestion.shape === this.shape.Circle,
    'center' : this.currentQuestion.place === this.place.Center,
    'upper-left': this.currentQuestion.place === this.place.UpperLeft,
    'top-center': this.currentQuestion.place === this.place.TopCenter,
    'upper-right': this.currentQuestion.place === this.place.UpperRight,
    'left': this.currentQuestion.place === this.place.Left,
    'right': this.currentQuestion.place === this.place.Right,
    'bottom-left': this.currentQuestion.place === this.place.BottomLeft,
    'bottom-cneter': this.currentQuestion.place === this.place.BottomCenter,
    'bottom-right': this.currentQuestion.place === this.place.BottomRight
  }">
    <p>{{this.currentQuestion.letter}}</p>
  </div>
</div>
<div>
  <mat-checkbox [(ngModel)]="this.currentAnswer.isLetter" [disabled]="!canAnswer || this.isLetter === false">文字</mat-checkbox>
  <mat-checkbox [(ngModel)]="this.currentAnswer.isAudio" [disabled]="!canAnswer || this.isAudio === false">音声</mat-checkbox>
  <mat-checkbox [(ngModel)]="this.currentAnswer.isPlace" [disabled]="!canAnswer || this.isPlace === false">場所</mat-checkbox>
  <mat-checkbox [(ngModel)]="this.currentAnswer.isColor" [disabled]="!canAnswer || this.isColor === false">色</mat-checkbox>
  <mat-checkbox [(ngModel)]="this.currentAnswer.isShape" [disabled]="!canAnswer || this.isShape === false">形</mat-checkbox>
</div>

