.square {
  border: solid 1px;
}

.triangle {
  border-right: 50px solid transparent;
  border-bottom: 50px solid #b2ce54;
  border-left: 50px solid transparent;
}

.boder-black {
  border: black solid 1px;
}

.border-red {
  border: red solid 1px;
}

.border-blue {
  border: blue solid 1px;
}

.border-green {
  border: green solid 1px;
}
